{% extends 'reviews/index.html' %}

{% block title %}
  Review Form
{% endblock %}

{% block content %}
  <h1>Form</h1>
  <form method="post" action="/" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-control {% if field.errors %}{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.help_text|safe }}
        {% for err in field.errors %}
          {{ err }}
        {% endfor %}
      </div>
    {% endfor %}

    <button type="submit">Send</button>
  </form>
{% endblock %}

{% comment %}
<form method="post" action="/">
  {% csrf_token %}

  {% if has_error %}
    <p>invalid value</p>
  {% endif %}

  <label for="username">Your name</label>
  <input id="username" name="username" type="text" />
  <button type="submit">Send</button>
</form>
{% endcomment %}

{% comment %}
<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>
      <h1>{{ question.question_text }}</h1>
    </legend>
    {% if error_message %}
      <p>
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
    {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
  </fieldset>
  <input type="submit" value="Vote" />
</form>
{% endcomment %}
