{% extends 'reviews/index.html' %}

{% block title %}
  Single Review
{% endblock %}

{% block content %}
  <h1>Username: {{ review.user_name }}</h1>
  <h4>Rating: {{ review.rating }}</h4>
  <form action='/reviews/favorites' method='post'>
    {% csrf_token %}
    <input type='hidden' name="review-user_name" value="{{ review.user_name }}" />
    <input type='hidden' name="review-id" value="{{ review.id }}" />
    <button>Favorite</button>
    {% if is_favorite %}
      <p>THIS IS FAVORITE</p>
    {% endif %}
  </form>
{% endblock %}